.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightpink;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  width: 30%;
}
